/* *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    /* cursor: none;            */
/* } */ 


.loader-boxs {
	display: flex;
}

.loader {
	width: 35px;
	aspect-ratio: 1;
	--c: no-repeat linear-gradient(#e20aff 0 0);
	background: 
	  var(--c) 0%   50%,
	  var(--c) 50%  50%,
	  var(--c) 100% 50%;
	background-size: 20% 100%;
	
	animation: l1 1s infinite linear;
  }

  @keyframes l1 {
	0%  {background-size: 20% 100%,20% 100%,20% 100%}
	33% {background-size: 20% 10% ,20% 100%,20% 100%}
	50% {background-size: 20% 100%,20% 10% ,20% 100%}
	66% {background-size: 20% 100%,20% 100%,20% 10% }
	100%{background-size: 20% 100%,20% 100%,20% 100%}
  }

  .loader2-boxs {
	display: flex;
}
  .loader2 {
	width: 50px;
	aspect-ratio: 1;
	color:#dc1818;
	background:
	 radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%) top left,
	 radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
	 linear-gradient(to bottom left, currentColor 42%,#0000 43%) bottom left ,
	 linear-gradient(to bottom right,currentColor 42%,#0000 43%) bottom right;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
  }
  .loader2:after {
	content: "";
	position: absolute;
	inset: 0;
	background: inherit;
	opacity: 0.4;
	animation: l3 1s infinite;
  }
  @keyframes l3 {
	to {transform:scale(1.8);opacity:0}
  }
  
  

  
body {
	/* background-color: #0d0c16; */
	background-image: url("../images/bj.jpg") ;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	zoom: 110%;
	margin: 0;
    padding: 0;
    box-sizing:border-box;
    /* cursor: none;           
	cursor: url('../images/光标.png') ,auto; */
	
}

.mouse{
	
	width: 25px;
	height: 25px;
	border-radius: 25%;;
	position: fixed;
	left: -200px;
	z-index: 1000;
	pointer-events: none;
	}
#container{
	position:relative;
	margin:0px auto 0px auto;
	width:700px;
	text-align:left;
}

#globallink{
	margin:0px; padding:0px;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));

}
#globallink ul{
    list-style:none;
	padding:0px; margin:0px;
}
#globallink li{
	float:left; 
	text-align:center;
	width:100px;	
}
#globallink a{
	display:block;
	padding:9px 6px 11px 6px;
	background:url(images/button1.jpg) no-repeat;
	margin:0px;
}
#globallink a:link, #globallink a:visited{
	color:#54effa;
	text-decoration:none;
}
#globallink a:hover{
	color:#ff34b1;
	text-decoration:underline;
	background:url(images/button1_bg.jpg) no-repeat;
	/* �滻����ͼƬ */
}

#left{
	padding: 0;
	top: 2000px;
	width:180px;
	float:left;
	/* background:#FFFFFF url(images/leftbottom.jpg) no-repeat bottom; �¶�Բ�� */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
	margin:1px 0px 0px 0px;
	box-shadow: 0 0 10px 5px #16f2fe;

}
#login{
	/* background:url(images/login.jpg) no-repeat; */
	padding:55px 0px 10px 0px;

}
#login form{
	padding:0px; margin:0px;
}
#login p{
	margin:0px; text-align:left;
	padding:5px 0px 0px 25px;
}
#login p input{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#login form input.text{
	border-bottom:1px solid #000000;
	border-left:none; border-right:none;
	border-top:none;
	padding:0px; width:90px;
}
#login form input.btn{
	border:1px solid #000000;
	background-color:#E6B9F7;
	height:17px; padding:0px;
}
#login p a:link, #login p a:visited{
	color:#333333;
	text-decoration:none;
}
#login p a:hover{
	color:#000088;
	text-decoration:underline;
}

#category{
	/* background:url(images/category.jpg) no-repeat; */
	padding:55px 0px 40px 0px;
}
#category h4{
	margin:0px 18px 0px 18px;
	padding:3px 0px 1px 5px;
	background-color:#E6B9F7;
	font-size:12px;
}
#category ul{
	list-style:none;
	margin:0px;
	padding:5px 22px 15px 22px;
}
#category ul li{
	padding:2px 0px 2px 16px;
	border-bottom:1px dashed #999999;
	/* background:url(images/icon1.gif) no-repeat 5px 7px; */
}
#category ul li a:link, #category ul li a:visited{
	color:#00f2ff;
	text-decoration:none;
}
#category ul li a:hover{
	color:#ff00d4;
	text-decoration:underline;
}

#main{
	float:left;
	width:518px;
	margin:1px 0px 0px 2px;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
	box-shadow: 0 0 10px 5px #16f2fe;
}
#latest{
	background:url(images/latest.jpg) no-repeat;
	padding:0;
}
#latest img{
	border:none;
	padding-left:1px;
}
#recommend{
	background:url(images/recommend.jpg) no-repeat;
	margin:5px 0px 0px 0px;
	padding:35px 0px 0px 0px;
	/* background-color:#FFFFFF; */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));

}
#recommend br,#new br, #tips br{
	display:block;
	clear:both;
	margin:0px; padding:0px;
}
#recommend ul, #new ul{
	list-style:none;
	margin:0px;
	padding:5px 5px 5px 8px;
}
#recommend ul li, #new ul li{
	text-align:center;
	float:left;
	width:125px;
}
#recommend ul li img, #new ul li img{
	border:none;
	margin:5px 0px 3px 0px;
	padding:0px;
}
#recommend ul li a:link,#recommend ul li a:visited, #new ul li a:link,#new ul li a:visited{
	color:#00fbff;
	text-decoration:none;
}

/* #recommend ul br:link,#recommend ul br:visited, #new ul br:link,#new ul br:visited{
	color:#00fbff;
	text-decoration:none;
} */

#recommend ul li a:hover, #new ul li a:hover{
	color:#d20005;
	text-decoration:underline;
}

#new{
	/* background:url(images/new.jpg) no-repeat; */
	margin:5px 0px 0px 0px;
	padding:35px 0px 0px 0px;
	/* background-color:#FFFFFF; */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));

}

#tips{
	/* background:url(images/tips.jpg) no-repeat; */
	margin:5px 0px 0px 0px;
	padding:35px 0px 0px 10px;
	/* background-color:#FFFFFF; */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));

}
#tips ul{
	list-style:none;
	margin:0px;
	padding:5px 5px 5px 30px;
}
#tips ul li{
	/* background:url(images/icon2.gif) no-repeat 5px 6px; */
	padding:1px 0px 1px 12px;
	float:left;
	width:220px;	/* ָ������ */
}
#tips ul li a:link,#tips ul li a:visited{
	color:#eff376;
	text-decoration:none;	
}
#tips ul li a:hover{
	color:#d20005;
	text-decoration:underline;
}




#F:hover {
  box-shadow: 0 0 5px 5px #f1e0e0;
  transform: scale(1.4); 
}



.logo{
	width: 550px;
	height: 150px;
	/* ;#E7A3E0 */
	/* background-color:;  */
 }

.txt{   
	font-family: 'fangsong';
	font-weight: 20px;
	font-size: 120px;
	letter-spacing: 30px; /* 间距 */
	fill: transparent;
	stroke: url("#yanse"); 
	stroke-width: 3px; /* 描笔宽度 */
	stroke-dasharray: 625;
	stroke-dashoffset: 625;
	animation: draw 5s linear infinite;
}
.bg {
	position: relative;
	/* z-index: 100; */
  }




	.flower {
		position: absolute;
		animation: fallDown 8s 2;
		animation-fill-mode: forwards;
		width: 25px;
		background-size: contain;
		}       
  
  @keyframes fallDown {
	0% {
	  transform: translateX(0) translateY(0) rotate(0deg);
	  opacity: 1;
	}

	100% {
	  transform: translateX(-100px) translateY(800px) rotate(0deg);
	  opacity: 0;
	}
  }


@keyframes draw{
   0%,5%{
	stroke-dasharray: 625;
	stroke-dashoffset: 625;
	}
	40%,60%{
		stroke-dasharray: 625;
		 stroke-dashoffset: 0;
	}
	100%{
		stroke-dasharray: 625;
		 stroke-dashoffset: 625;
	}
};































